.md-input-box {
	@apply relative;
	@apply w-full;
	margin-bottom:2.2rem;
	outline: none;
}
.md-input {
	font-size:14px;
    padding:10px 0 10px 0;
    display:block;
	width:100% !important;
    border:none;
    border-bottom:1px solid #757575;
}
.md-input:focus {
	outline: none;
}
.md-label {
	@apply absolute text-gray-500 pointer-events-none block;
	transform-origin: top left;
	transform: translate(0, -40px) scale(1);
	transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}
.md-label-focus {
	@apply text-blue-900;
	color: #4c51bf;
	transform: translate(0, -65px) scale(0.75);
	transform-origin: top left;
}
.md-input-underline {
	border-bottom: 1px solid #718096;
}
.md-input-underline:after {
	@apply absolute left-0 right-0 pointer-events-none;
	bottom: -0.05rem;
	content: "";
	transition: transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
	transform: scaleX(0);
	border-bottom: 2px solid #4c51bf;
}
.md-input:focus ~ .md-input-underline:after {
	transform: scaleX(1);
}
.md-input:focus + .md-label,
.md-input:not(:placeholder-shown) + .md-label {
	@apply md-label-focus;
	color: #4c51bf;
	transform: translate(0, -65px) scale(0.75);
	transform-origin: top left;
}
/* enable to leave border-bottom in modified color when the field is populated */

.md-input:not(:placeholder-shown) ~ .md-input-underline:after {
	transform: scaleX(1);
} 

